html,
body{
	min-height: 100%;
	min-width: 100%;
	color: #000000;
}
body.step-join{
	background-color: #fff;
}
h1,h2,h3,h4,h5{
	font-weight: normal;
}
img{
	max-width: 100%;
	height: auto
}
.btn{
	white-space: normal
}
.height-full{
	min-height: 100vh;
	width: 100%;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.section-bg-img{
	background-position: center top;
	background-size: cover;
}

.right-corner-img{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 55;
}
.right-corner-img img{
	max-width: 200px;
}

.section-bg-img.step-join-section{
	background-size: 100% auto;
	background-repeat: no-repeat
}
.step-join-section{
	padding:40px 0;
	
}
.step-join-section .container{
	max-width: 800px;
	width: 100%;
}

@media screen and (max-width: 767px){
	.step.step-join > .container{
		margin: 0 auto;
		max-width: 95%;
	}
}

.step-join-section  .logo{
	margin-bottom: 1em;
}
.step-join-section  .logo img{
	max-width: 400px;
	width: 90%;
	margin: 0 auto;
}
.free-access-today{
	font-family: 'theboldfont', Arial, "sans-serif";
	font-size: 18px;
background: rgb(255,255,255);
background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 3%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 85%, rgba(255,255,255,0) 97%, rgba(255,255,255,0) 100%);
background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 3%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 85%, rgba(255,255,255,0) 97%, rgba(255,255,255,0) 100%);
background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 3%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 85%, rgba(255,255,255,0) 97%, rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
	padding: 0.5em 0;
	color: #ff0036;
	margin: 0;
	margin-bottom: 0.75em;
}

.free-access-today span{
	color: #000000;
}

.attention-div{
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background: #fff;
	overflow: hidden;
	box-shadow: 8px 10px 5px  rgba(0,0,0,0.4);
	margin-bottom: 1em;
}

.attention-div h2{
	    background: #ff0036;
    margin: 0;
    font-family: 'EurostileLTStdBold', Arial, "sans-serif";
    font-style: italic;
    font-size: 40px;
    color: #fff;
    line-height: 40px;
    padding: 0.33em 10px;
}

section.step{
	overflow-x: hidden !important;
}

section.step-join .question p,
.attention-div p{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	line-height:26px;
	margin-bottom: 0;
}

section.step-join .question.question-4 p,
section.step-join .question.question-8 p,
section.step-join .question.question-9 p,
section.step-join .question.question-10 p{
	margin-bottom: 0.5em;
}

.attention-div .inner-div{
	padding: 1em 2em;
}

.attention-div h3{
    padding: 10px 0 16px 0;
    border-bottom: 3px solid #000;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: #ff0035;
    line-height: 40px;
    margin-bottom: 0.2em;
}

.attention-div .btn{
	background: #00c229;
	color: #fff;
	width: 98%; 
	padding: 20px 10px;
	margin: 15px auto 12px auto;
	box-shadow: 5px 5px 5px  rgba(0,0,0,0.2);
	font-size: 40px;
	line-height: 40px;
}
.attention-div .btn.btn-black{
	background: #000;
	color: #fff;
}

.video-rating-div{
	background-image: url(../images/shadow.html);
	background-repeat: no-repeat;
	background-position: center top;
	    background-size: 892px 100%;
	
}
.video-rating-div .bottom-lf-div{
	 display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
	
	
	width: 100%;
	text-align: left;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin-bottom: 50px;
}
.video-rating-div .bottom-lf-div .left{
	width: 49%;
	background: #ff0036;
	color: #fff;
	padding: 10px;
	
}
.video-rating-div .bottom-lf-div .right{
	width: 49%;
	background: #1a1a1a;
	color: #fff;
	padding: 10px;
}

.video-rating-div .bottom-lf-div .mid{
	width: 2%;
}
.video-rating-div .bottom-lf-div td{
	font-family: 'theboldfont', Arial, "sans-serif";
}

.video-rating-div .bottom-lf-div td.icon{
	padding-right: 5px;
}

.video-rating-div .rating-list h2{
	padding: 0 0 30px 0;
    border-bottom: 3px solid #000;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: #000;
    line-height: 45px;
	font-style: italic;
    margin-bottom: 30px;
}
.video-rating-div .rating-list{
	padding: 0 20px;
}
.video-rating-div .rating-list ul{
	margin: 0;
	padding: 0;
	list-style: none
}

.video-rating-div .rating-list ul li{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin-bottom: 40px;
}
.video-rating-div .rating-list ul li:last-child{
	margin-bottom: 0
}
.video-rating-div .rating-list ul li p{
	margin-bottom: 2px;
}
.video-rating-div .rating-list ul li p.rating-star{
	margin-bottom: 15px;
	font-size: 34px;
	line-height: 34px;
	color: #181818;
}

.video-rating-div .rating-list ul li p.rating-star span{
	margin: 0 3px;
}
.video-rating-div .rating-list ul li p.rating-star .checked{
	color: #ee003d;
}


.cat-list-div{
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid #dddcdc;
}
.cat-list-div li{
	font-family: 'theboldfont', Arial, "sans-serif";
	font-size: 22px;
	border-bottom: 1px solid #dddcdc;
	padding: 10px;
	
}
.cat-list-div li a{
	text-decoration: none;
	color: #000;
}
.cat-list-div li:hover a{
	color: #ff0036;
}
.cat-list-div li:last-child{
	border-bottom: none;
}
.attention-div h4{
	font-size: 24px;
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
}

.attention-div .btn.btn-gray-blue{
	background: #3b5998;
	color: #fff;
	max-width: 300px;
 	padding: 10px;
}


.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-default .odometer-digit {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
  display: block;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-default .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0);
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
  position: absolute;
}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
}
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
}
.odometer.odometer-auto-theme .odometer-value, .odometer.odometer-theme-default .odometer-value {
  text-align: center;
}

#time-left,
#player-count{
	font-weight: 800;
	font-family: arial, sans-serif;
	position: relative;
	top: -2px;
}

#player-count{
	top: -1px;
}

#video-player{
	margin-top: 1em;
	margin-bottom: 1em;
	display: block;
	width: 100%;
}

body{
	background-size: cover;
	background-repeat: no-repeat;
}

section.step > div{
	opacity: 0;
}

body section.step{
	position: absolute;
	width: 100%;
	min-height: 100vh;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

section.step{
	max-height: 100vh;
	overflow-y: hidden;
}

body.step-join section.step-join,
body.step-join section.step.step-join-section > div.container{
	opacity: 1;
	z-index: 10;
}

body.step-join section.step-join,
body.step-join section.step.step-join-section > div.container,
body.step-join section.step.step-join-section > div.video-rating-div{
	opacity: 1;
	z-index: 10;
}

body.step-join{
	overflow-y: visible;
	overflow-x: hidden;
}

body.step-join section.step-join{
	padding-top: 1em;
	background-repeat-y: repeat;
	background-size: cover;
	padding-bottom: 0;
	max-height: initial;
	overflow-y: hidden !Important;
	min-height: 100%;
	opacity: 1;
}

body.step-join section.step-join .rating-list{
	padding-bottom: 2em;
}

body.step-join section.step-join .video-rating-div > .container{
	background-color: rgba( 255, 255, 255, 0.5 );
}

body.step-join section.step-join .substep{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 125%;
	opacity: 0;
	z-index: -1;
	transition: opacity 1s ease-in-out;
	overflow-y: visible;
}

body.step-join section.step .substep .gradient-fade-out{
	display: block;
	position: absolute; 
	bottom: -1px;
	left: 0px;
	width: 100%;
	height: 33vh;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 99%);
	background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 99%);
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 99%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

body.step-join section.step-join .substep img{
	display: block;
	max-width: none !important;
}

body.step-join section.step-join .substep-1 img,
body.step-join section.step-join .substep-2 img,
body.step-join section.step-join .substep-3 img,
body.step-join section.step-join .substep-4 img,
body.step-join section.step-join .substep-5 img{
	width: 120%;
}

@media screen and (min-width: 979px){
	body.step-join section.step-join .substep-1 img{
		width: 139%;
	}

	body.step-join section.step-join .substep-2 img{
		width: 139%;
	}

	body.step-join section.step-join .substep-3 img{
		width: 122%;
	}

	body.step-join section.step-join .substep-4 img{
		width: 139%;
	}

	body.step-join section.step-join .substep-5 img{
		width: 129%;
	}
}

@media screen and (min-width: 1300px){
	body.step-join section.step-join .substep-1 img{
		width: 130%;
		margin-top: -350px;
	}

	body.step-join section.step-join .substep-2 img{
		width: 137%;
	}

	body.step-join section.step-join .substep-3 img{
		width: 120%;
	}

	body.step-join section.step-join .substep-4 img{
		width: 139%;
	}

	body.step-join section.step-join .substep-5 img{
		width: 135%;
	}
}

@media screen and (min-width: 1600px){
	body.step-join section.step-join .substep-1 img{
		width: 118%;
		margin-top: -300px;
	}

	body.step-join section.step-join .substep-2 img{
		width: 131%;
	}

	body.step-join section.step-join .substep-3 img{
		width: 118%;
	}

	body.step-join section.step-join .substep-4 img{
		width: 133%;
	}

	body.step-join section.step-join .substep-5 img{
		width: 129%;
	}
}

body.step-join section.step-join.substep-1 div.substep.substep-1,
body.step-join section.step-join.substep-2 div.substep.substep-2,
body.step-join section.step-join.substep-3 div.substep.substep-3,
body.step-join section.step-join.substep-4 div.substep.substep-4,
body.step-join section.step-join.substep-5 div.substep.substep-5{
	opacity: 1;
	z-index: 0;
}

body.step-join section.step-join > div.container,
body.step-join section.step-join > div.video-rating-div{
	z-index: 10;
	position: relative;
}

section.step-join .question-container{
	max-width: 100%;
}

section.step-join .question-container.question-1 .question-1,
section.step-join .question-container.question-2 .question-2,
section.step-join .question-container.question-3 .question-3,
section.step-join .question-container.question-4 .question-4,
section.step-join .question-container.question-5 .question-5,
section.step-join .question-container.question-6 .question-6,
section.step-join .question-container.question-7 .question-7,
section.step-join .question-container.question-8 .question-8,
section.step-join .question-container.question-9 .question-9,
section.step-join .question-container.question-9 .question-10,
section.step-join .question-container.question-9 .question-11{
	display: block;
}

ul.multiple-choice li{
	padding: 0;
}

ul.multiple-choice a{
	display: block;
	padding: 10px;
}

ul.multiple-choice a.active{
	color: #fff;
	background-color: #ff0035;
}

ul.multiple-choice a.active:hover{
	color: #000;
}

ul.multiple-choice a.active:active{
	color: #fff;
}

ul.multiple-choice li.active{
	border-bottom: 1px solid #fff;
}

ul.multiple-choice li.active:last-child{
	border-bottom: none;
}

section.step-join .question{
	display: none;
}

/** Hide video controls */
*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

video::-webkit-media-controls {
    display:none !important;
}

.btn:active{
	box-shadow: none;
	-webkit-box-shadow: none;
}

.video-div.no-video{
	padding-top: 1em;
}

.video-div.no-video #video-player{
	display: none;
}

section.step.step-6 .btn-option{
	position: relative;
	max-width: 400px;
}

section.step.step-6 .btn-option .confirm-age{
	
}

section.step.no-video .video-div{
	padding-top: 1em;
}

section.step.no-video #video-player{
	display: none;
}


